
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/invision.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>Senior Web Developer</strong> - As a senior web developer for this new media firm, responsible for the design, development and programming of an on-line store with a magazine and catalog sections.

                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/cyberpower.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>Lead Web Engineer</strong> - Working in San Francisco on an Employee Intranet for the General Services Administration of the USA federal government.
Experience included: company analysis, building the SQL database, and creating the frontend web pages and the back end application to manage the database content.
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/video4web.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>VP Engineering</strong> - I.	Front-end Website Developer – Restaurant website 
Skills used: Angular 4, bootstrap, Github, Copywriting and graphics (photoshop).
Digital marketing campaign using Facebook, Google ads, Instagram and SEO.
<br>
II.	Web Developer of Real Estate Booking site. (omnitowersyncatesuites.com)
Skills Used: PHP, MySQL, WORDPRESS
Increase the sales for a local service apartment business by improving their online presence (website) making it SEO friendly and adding a room booking online system. In addition the booking system had a backend to manage the rooms supply and to update the database.
<br>
III.	Designer, Developer and Tester of a Jewelry online eCom site.
Skills Used: PHP, HTML, MySQL
Built this database driven ecom site for jewelry stocks to increase the international sales of this local jewelry designer.
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/mediacircus.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>Senior Programmer</strong> - As a senior programmer and analyst for this multimedia firm, (Media Circus), responsible for the analysis, design, development and the programming production of several state-of-the-art web sites, CD-ROM’s and a large scale Kiosk. Experienced in network shared database design on the Sun Sparc station.
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/liacom.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>Project Engineer</strong> - In this big project for Israel’s Social Security website; responsible for the design, development and programming of customer information web site using 3-tier technology, ASP.NET, Visual Basic and MS SQL.
                </div>
              </div>
            </div>
          </div>
